// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


:root{

    --mc-primary-color:     #F0B742;
        --mc-pri-high:      #FF8B00;
    --mc-secondary-color:   #000000;
        --mc-sec-low-one:   #232323;
    --mc-auxiliar-color:    #AEAEAE;            
    --mc-text-color:        #FFFFFF;            
    --mc-text2-color:       #DADADA;            

}