.coins--detail-head {
  background: #063E67;
  .coins--table__like {
    filter: brightness(10);
    display: inline-block;
    position: relative;
    top: 3px;
  }
}

.coins--detail-info {  
  background: #E7ECF1;
  .coins--detail-info-scroll {
    max-width: 1200px;
    margin-right: -12px;  
    margin-left: -12px;  
    overflow: auto;
    white-space: nowrap;
    // color: #0680D8;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0 0 0 40px;
  }
  position: relative;
  &:before {
    position: absolute;
    width: 118px;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(270deg, rgba(6, 62, 103, 0.2) 0%, rgba(6, 62, 103, 0) 100%);
    content: " ";
    display: block;
    z-index: 20;
  }
  .coins--detail-info-block {
    padding: 16px 40px 16px 0;
    margin-top: 22px;
    margin-bottom: 22px;
    border-right: 1px solid #D7D7D7;
    margin-right: 40px;
    min-height: 122px;
    &:last-child {
      border-right: 0;
    }
  }
}

@include media-breakpoint-up(lg) { 

  .coins--detail-info:before {
    display: none;
  }
  .coins--detail-info .coins--detail-info-scroll {
    margin-right: auto;
    margin-left: auto;
  }


}
